<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>TESCO - Free Food</title>

    <meta name="keywords" content="tesco, free, food" />
    <meta name="description" content="Tesco free food in your city" />
    <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >

    <link rel="icon" type="img/png" href="//tesco.hu/img/tescoce_hu/fav.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/print.css" media="print">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <img src="/static/images/logo.svg" alt="TESCO logo" class="header__logo">
            <h1 class="header__title">Free Food</h1>
        </div>
    </header>
    <main class="body">
        <div class="container">

            <div class="cities">
                <ul>
                    <li>
                        <a href="javascript:alert('It\'s just an example');" class="cities__root">Hungary:</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');" class="cities__active">Budapest</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');">Debrecen</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');">Szeged</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');">Miskolc</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');">Pécs</a>
                    </li>
                    <li>
                        <a href="javascript:alert('It\'s just an example');">Győr</a>
                    </li>
                </ul>
            </div>

            <div class="shops">
                <form>
                    <ul class="shops__list">
                    {% for item in shop_list %}
                        <li class="shops__item">
                            <input type="radio"
                                   data-longitude="{{ item.lon }}"
                                   data-latitude="{{ item.lat }}"
                                   name="shops__item"
                                   value="{{ item.id }}"
                                   id="{{ item.id }}" {% if loop.index0==0 %} checked {% endif %}>
                            <label for="{{ item.id }}">
                                {{ item.address }}
                                <span class="shops__item-counter">{{ item.count }}</span>
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </form>

                <div class="map shops__map">
                    <span class="map__loader">Loading map...</span>
                    <iframe src="" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

            <div class="goods">
                <h2 class="goods__title">Groceries for free</h2>

                {% for shop in good_list %}
                <div class="goods__section" data-shop-id="{{ shop.id }}">
                    {% if shop.goods | length > 0 %}
                    {% for good in shop.goods %}
                    <h3 class="goods__sub-title">{{ good.category }}</h3>
                        <ul>
                        {% for item in good.products %}
                            <li class="goods__item">
                                <div class="goods__image">
                                    {% if item.image %}
                                <img src="{{ item.image }}" alt="{{ item.title }}">
                                {% else %}
                                <img src="/static/images/good.png" alt="{{ item.title }}">
                                {% endif %}
                                </div>
                                <div class="goods__info">
                                    <span class="goods__info-row goods__info-row--title">{{ item.title }}</span>
                                    <span class="goods__info-row goods__info-row--desc">{{ item.desc }}</span>
                                    <span class="goods__info-row goods__info-row--qtt">{{ item.qtt }}</span>
                                </div>
                            </li>
                        {% endfor %}

                        </ul>
                    {% endfor %}
                    {% else %}
                        <div class="message">no products found :(</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            #JunctionXBudapest2019
        </div>
    </footer>

    <script src="/static/scripts/shops.js"></script>
</body>
</html>
