.cities {
  display: block;
  clear: both;
  margin: 0 0 30px 0;
  @include clearfix;

  ul {
    display: block;
  }

  li {
    display: block;
    float: left;
    margin-right: 16px;
  }

  a {
    display: inline-block;
    color: $color-text;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    border-bottom: 1px solid lighten($color-text, 30%);
    padding: 0 0 1px 0;

    &.cities__active {
      color: $color-primary-active;
      cursor: default;
      border-bottom-color: $color-primary-active;
    }

    &.cities__root {
      color: $color-text;
      padding-left: 0;
      border-bottom-color: transparent;
    }

    &:hover {
      color: $color-primary-active;
      border-bottom-color: $color-primary-active;
    }
  }
}
